{% extends 'marketing/base.html' %}


{% block content %}
    <div id="filler"></div>
    <div id="position-select">
        <p>What position would you like to apply for?</p>
        <div class="app-route-link">
            <a href="{% url 'apply-laborer' %}">
                Laborer
            </a>
        </div>
        <br>
        <div class="app-route-link">
            <a href="{% url 'apply-operator' %}">
                Heavy Equipment Operator
            </a>
        </div>
    </div>


{% endblock %}