body{
  color: #444444;
  font-family: 'Volkhov', sans-serif;
}

h1 {
  font-size: 3vw;
}

p {
  text-align: justify;
  font-size: 2vw;
}
.container-fluid{
  padding: 10px;
}


div{
  background-color: #f9
}

.thumbnail {
  max-width: 100px;
  margins: 0;
}

/* Dark Carousel Overlay */
.carousel-item:after {
  content:"";
  display:block;
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  background:rgba(0,0,0,0.5);
}

/* Carousel Text Positioning */
.carousel-caption {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.slider-font {
  color: #fff;
  font-family: 'Volkhov', sans-serif;
}

h1.slider-font {
  font-size: 4vw;
}

h3.slider-font {
  font-size: 2vw;
}


.item {
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  }


.mid-section {
  display:flex;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: auto;
  padding: 3.5%;
}

.block-2 {
  background-color: #FFF;
}

@media (max-width: 600px){
  h1.slider-font{
  margin-bottom:0px;
}

  .carousel-indicators{
  opacity: 0;
}

  .carousel-caption{
  top: 40%;
}

  .thumbnail {
  max-width: 75px;
}
}