{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    {{ form.media }}

    <!-- Meta Tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width", initial-scale="1">
    <title>Civil Construction Company</title>
    <meta name="description" content="Civil Construction Company & Environmental Sevices, LLC opened in 1980 in Westlake,
    Louisiana. We are licensed in Louisiana, Mississippi, Oklahoma, and work authority in Texas. We focus on industrial
    site preparation, including clearing, site work, storm drainage, subbase, and base work">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">

    <link rel="shortcut icon" type="image/png" href="{% static 'marketing/img/civil-logo.png' %}">
    <link rel="stylesheet" href="{% static 'marketing/main.css' %}">
</head>
<body>
{% include 'marketing/messages.html' %}
    <header>
        <a href="{% url 'home-page' %}">
            <img class="logo" src="{% static 'marketing/img/civil-logo.png' %}" alt="logo">
        </a>
        <nav>
            <ul class="nav-links">
                <li><a href="{% url 'home-page' %}#about">About</a></li>
                <li><a href="{% url 'home-page' %}#services">Services</a></li>
                <li><a href="{% url 'home-page' %}#contact">Contact</a></li>
            </ul>
        </nav>
        <a class="apply-btn" href="{% url 'apply-route' %}"><button>Apply</button></a>
        <a onclick="OpenNav()" class="menu"><button>Menu</button></a>
    </header>
    <div id="mobile-menu" class="overlay">
        <a class="menu-close" onclick="CloseNav()">&times;</a>
        <div class="overlay-content">
            <a href="{% url 'home-page' %}#about" onclick="CloseNav()">About</a>
            <a href="{% url 'home-page' %}#services" onclick="CloseNav()">Services</a>
            <a href="{% url 'home-page' %}#contact" onclick="CloseNav()">Contact</a>
            <a href="{% url 'apply-route' %}" onclick="CloseNav()">Apply</a>
        </div>
    </div>
    <script type="text/javascript" src="{% static 'marketing/mobile.js' %}"></script>


{% block content %}{% endblock %}


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>

</body>
</html>