{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width", initial-scale="1">
    <title>Navbar</title>
    <link rel="stylesheet" href="{% static 'marketing/main.css' %}">
</head>
<body>
    <header>
        <a href="#">
            <img class="logo" src="{% static 'marketing/img/logo.png' %}" alt="logo">
        </a>
        <nav>
            <ul class="nav-links">
                <li><a href="#about">About</a></li>
                <li><a href="#services">Services</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
        </nav>
        <a class="apply-btn" href="#"><button>Apply</button></a>
        <a onclick="OpenNav()" class="menu"><button>Menu</button></a>
    </header>
    <div id="mobile-menu" class="overlay">
        <a class="close" onclick="CloseNav()">&times;</a>
        <div class="overlay-content">
            <a href="#about" onclick="CloseNav()">About</a>
            <a href="#services" onclick="CloseNav()">Services</a>
            <a href="#contact" onclick="CloseNav()">Contact</a>
            <a href="#" onclick="CloseNav()">Apply</a>
        </div>
    </div>
    <script type="text/javascript" src="{% static 'marketing/mobile.js' %}"></script>

{% block content %}{% endblock %}

</body>
</html>