{% extends "marketing/base.html" %}
{% load static %}
{% block content %}

    <main>
        <div class="wrapper">
            <div class="item" id="banner">
                <div class="banner-text">Civil Construction <br>Company</br></div>
            </div>
            <div class="item two-column" id="about">
                <div id="about-text">
                    <h2 id="about-title">About Us</h2>
                    <p>Southcorner barbershop was established in 2001. We cater soley to males that are looking for
                        upscale hair treatments. Out premium services provide men of all ages, that flawless look.</p>
                    <p>​We offer our clients a wide range of services from straight razor shaving, hair styling,
                        beard grooming and even eyebrow trimming. Our retro style shop gives men the opportunity to have
                        their hair treated by professionals that know men's hair.</p>
                </div>
                <img id="louisiana-logo" src="{% static 'marketing/img/louisiana-logo.png' %}"
                     alt="louisiana state outline">
            </div>
            <div class="item" id="services">
                <h2 id="services-title">Services</h2>
                <div class="service" id="service-1">
                    <h3>Service One</h3>
                    <ul>
                        <li>Dirt Work</li>
                        <li>Leveling</li>
                        <li>Digging</li>
                        <li>Environmental</li>
                    </ul>
                </div>
                <div class="service" id="service-2">
                    <h3>Service Two</h3>
                    <ul>
                        <li>Contracting</li>
                        <li>Construction</li>
                        <li>Project Management</li>
                    </ul>
                </div>
                <div class="service" id="service-3">
                    <h3>Service Three</h3>
                    <ul>
                        <li>Equipment Rental</li>
                        <li>Consulting</li>
                        <li>Inspection</li>
                    </ul>
                </div>
            </div>
            <div class="item" id="contact">
                <div id="location-contact-text">
                    <h2>Location & Contact</h2>
                    <div id="address" class="contact-item">
                        <p>Address:
                            <br>3216 Highway 90 West</br>
                            Westlake, LA 70669
                        </p>
                    </div>
                    <div id="phone" class="contact-item">
                        <p>Phone Number:
                            <br>(337) 882-0752</br>
                        </p>
                    </div>
                    <div id="fax" class="contact-item">
                        <p>Fax:
                            <br>(337) 882-6617</br>
                        </p>
                    </div>
                </div>
                <div class="mapouter">
                    <div class="gmap_canvas">
                        <iframe width="400" height="400" id="gmap_canvas"
                                src="https://maps.google.com/maps?q=3216%20Highway%2090%20West%20Westlake%2C%20LA%2070669&t=&z=15&ie=UTF8&iwloc=&output=embed"
                                frameborder="0" scrolling="no" marginheight="0" marginwidth="0">
                        </iframe>
                    </div>
                </div>
            </div>
        </div>
    </main>



{% endblock content %}